<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Nafisa_0834">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/scan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/scan"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanQRCode"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.Nafisa_0834.PenjualanActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Nafisa_0834.TransaksiActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Nafisa_0834.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Nafisa_0834.MenuUtamaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Nafisa_0834.TambahBarang"
            android:exported="false" />
        <activity
            android:name="com.example.Nafisa_0834.MediaBarcode"
            android:exported="false" />
        <activity
            android:name="com.example.Nafisa_0834.ScanQrCode"
            android:exported="true" />
        <activity
            android:name="com.example.Nafisa_0834.BarangActivity"
            android:exported="true" />
    </application>

</manifest>